{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT ME</h1>
            <p class="lead fw-normal text-white-50 mb-0">Qui Somme Nous ???</p>
        </div>
    </div>
</header>

<div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/><br/>
            <p class="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit eros ac blandit porta. Duis consequat eros lectus, in dignissim nisl imperdiet sit amet. Curabitur euismod, lacus in sagittis fermentum, augue nisi feugiat turpis, sit amet auctor eros felis id ex. Sed elementum posuere tortor sit amet vulputate. Aenean quis massa sed sapien vehicula gravida a quis elit. Sed sed finibus augue.<br/> Vestibulum quis pretium tortor, sit amet vestibulum eros. Sed ultrices nunc nibh, id bibendum neque aliquam non. Curabitur cursus, felis sit amet sagittis vulputate, mi velit dignissim nisi, faucibus pulvinar mauris sem quis neque. Maecenas tempus porta massa ac vulputate. Morbi vitae bibendum ante, vel pellentesque libero. Duis accumsan gravida erat vel bibendum.

                Vestibulum sed dapibus quam. Quisque feugiat euismod eros imperdiet consectetur. Quisque nec quam odio. Nam vitae augue sem. Pellentesque in enim justo. Vivamus porttitor laoreet velit, id porttitor nibh maximus eget. Praesent non suscipit justo. Morbi pretium nisi tellus, vitae tempus lacus ultrices a. Aliquam condimentum elementum ullamcorper. Etiam tempor metus vel urna pharetra, in luctus nisl condimentum.
                
                Ut et lacinia diam. Etiam sed ex pretium, fringilla leo sed, malesuada est. Suspendisse finibus magna ac auctor luctus. Donec ut felis vitae lectus venenatis vulputate. Duis congue ipsum non odio viverra porta. Ut nec vestibulum tortor, id fermentum odio. In ante sem, porttitor eget est at, rhoncus aliquam ligula. Sed quis augue vel libero rhoncus gravida quis a massa. Nullam interdum ligula et efficitur aliquam. Maecenas commodo et metus non pretium. Cras ac est imperdiet, ullamcorper mauris eget, auctor purus.
                
            </p>
            <br/><br/><br/>
                </div>
            </center>
            
        </div>
    </div>
{% endblock  %}